@font-face {
  font-family: "Ember";
  src: url("../fonts/Ember/Amazon-Ember-Medium.ttf"), url("../fonts/Ember/AmazonEmber_Bd.ttf"), url("../fonts/Ember/AmazonEmber_BdIt.ttf"), url("../fonts/Ember/AmazonEmber_He.ttf"), url("../fonts/Ember/AmazonEmber_HeIt.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-family: Ember, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background-color: #e3e6e6;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: white;
}

.primary-header {
  position: sticky;
  top: 0;
}

.outline:hover {
  outline: 1px solid white;
}

.nav-primary {
  display: flex;
  flex-wrap: wrap;
  background-color: #131921;
  color: white;
  padding: 8px 8px;
  row-gap: 10px;
}

.nav-primary-block1,
.nav-primary-block3 {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.logo-anchor {
  display: flex;
  align-items: center;
}

.logo {
  width: auto;
  height: 30px;
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.fa-location-dot {
  margin-top: 12px;
}

.current-location {
  font-size: 0.8em;
  color: #cccccc;
}

.change-location {
  font-weight: 600;
}

.nav-primary-block2 {
  flex: 3;
  display: flex;
  align-items: center;
}

.nav-primary-block2 select {
  width: 60px;
  height: 40px;
  background-color: #efefef;
  padding: 0 10px;
  font-size: 0.9em;
  border: none;
  border-radius: 5px 0 0 5px;
}

.nav-primary-block2 select:focus {
  outline: 3px solid #fd9814;
  z-index: 0;
}

.search-field {
  flex: 1 3;
  font-size: 14px;
  height: 40px;
  border: none;
  padding: 0 10px;
}

.search-field:focus {
  outline: 3px solid #fd9814;
}

.nav-primary-block2 button {
  width: 45px;
  height: 40px;
  font-size: 1.4em;
  background-color: #f3a947;
  border: none;
  border-radius: 0 5px 5px 0;
}

.nav-primary-block2 button:focus {
  outline: 3px solid #fd9814;
}

.lang {
  display: flex;
  align-items: center;
}

.india-flag {
  width: auto;
  height: 13px;
  margin-right: 5px;
  margin-top: 5px;
}

.fa-chevron-down {
  margin-top: 2px;
  margin-left: 2px;
}

.sign-in,
.orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart {
  display: flex;
  align-items: center;
}

.fa-cart-shopping {
  margin-right: 5px;
}

.nav-secondary {
  background-color: #232f3e;
}

.nav-secondary ul {
  padding: 0 10px;
}

.nav-secondary ul li {
  padding: 10px 0;
}

.nav-secondary ul li a {
  padding: 10px;
}

.fa-bars {
  margin-right: 5px;
}

.fa-chevron-down {
  margin-left: 5px;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero-img {
  height: auto;
  width: 80%;
  margin-bottom: -30vh;
  z-index: -1;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.card-row:first-child {
  background-image: linear-gradient(to bottom, rgba(227, 230, 230, 0.1), rgba(227, 230, 230, 1));
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}

.card {
  background-color: #fff;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 420px;
  width: 350px;
  padding: 20px;
  gap: 8px;
  margin-bottom: 20px;
}

.card-heading {
  font-family: Ember;
  font-size: 1.4em;
  font-weight: bold;
}

.card-img-row {
  display: flex;
  flex: 1;
  justify-content: space-around;
  gap: 30px;
}

.card-obj {
  width: 130px;
  margin-bottom: 10px;
  gap: 10px;
}

.card-img {
  height: 110px;
  width: 150px;
  object-fit: cover;
}

.card-img-desc {
  font-size: 12px;
  line-height: 18px;
}

.card a {
  color: #007185;
}

.card a:hover {
  text-decoration: underline;
  color: #fd9814;
}

.card-sign-in {
  background-color: #fff;
  height: 10%;
  width: 350px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.card-sign-in button {
  border: none;
  background-color: #ffd814;
  color: black;
  font-size: 12px;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.card-sign-in button:hover {
  background-color: #f7ca00;
}

.addn-offers {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.addn-offers-row {
  background-color: #fff;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.addn-offers-heading {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 30px;
}

.addn-offers-heading a {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #007185;
}

.addn-offers-heading a:hover {
  text-decoration: underline;
  color: #fd9814;
}

.addn-offers-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.sign-in-footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 30px;
}

.sign-in-footer button {
  font-weight: bold;
  font-size: 11px;
  border: none;
  border-radius: 3px;
  margin: 8px 0;
  padding: 5px 100px;
  background-image: linear-gradient(to top, rgb(255, 179, 16), rgb(255, 224, 157));
  cursor: pointer;
}

.sign-in-footer a {
  color: #007185;
  margin-left: 6px;
}

.sign-in-footer a:hover {
  color: #fd9814;
}

.back-to-top {
  display: block;
  background-color: #293a4e;
  padding: 20px;
  width: 100%;
  border: none;
  font-size: 14px;
  text-align: center;
}

.back-to-top:hover {
  background-color: #3b5470;
}

.primary-footer,
.secondary-footer,
.tertiary-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232f3e;
  color: white;
  padding: 30px;
}

.primary-footer {
  border-bottom: 1px solid #2f4763;
}

.primary-footer > table {
  border-spacing: 20px;
  text-align: left;
}

.primary-footer table td a,
.tertiary-footer-th {
  color: #cccccc;
}

.primary-footer table td a:hover {
  text-decoration: underline;
}

.secondary-footer {
  flex-direction: column;
}

.secondary-footer-row,
.secondary-footer-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 10px;
}

.secondary-footer button {
  background-color: #232f3e;
  color: #cccccc;
  padding: 5px 5px;
  border: 1px solid #2f4763;
  margin-left: 15px;
  cursor: pointer;
}

.fa-globe,
.fa-up-down {
  padding: 0 5px;
}

.secondary-footer-row a,
.secondary-footer-row2 a {
  color: #cccccc;
  margin-left: 8px;
}

.secondary-footer-row2 {
  margin-top: -20px;
}

.tertiary-footer {
  flex-direction: column;
  background-color: #131a22;
  font-size: 11px;
}

.tertiary-footer > table {
  border-spacing: 20px;
}
.tertiary-footer a {
  color: #999999;
}

.tertiary-footer a:hover {
  text-decoration: underline;
}

.tertiary-footer-last-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cccccc;
}

.tertiary-footer-row1 {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.tertiary-footer-row1 a {
  color: #cccccc;
}

.tertiary-footer-row1 a:hover {
  text-decoration: underline;
}

.tertiary-footer-row3 {
  margin-top: 30px;
}

.tertiary-footer-row3 a {
  color: #ffffff;
}

.tertiary-footer-row3 a:hover {
  text-decoration: underline;
}
